<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright (c) 2024-2024, Ai东 (abc-127@live.cn).
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License").
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mp.core.test.mapper.SysRoleMapper">

    <resultMap id="sysRole" type="com.mybatis.mp.core.test.DO.SysRole">
        <id column="id" property="id"/>
    </resultMap>

    <select id="xmlPaging" resultType="com.mybatis.mp.core.test.DO.SysRole">
        select *
        from sys_role
        where id >= #{id}
          and id &lt;= #{id2}
        order by id asc
    </select>

    <select id="xmlPaging2" resultMap="sysRole">
        select *
        from sys_role
        order by id asc
    </select>

    <select id="xmlDynamicPaging" resultType="com.mybatis.mp.core.test.DO.SysRole">
        select * from sys_role where id >=#{id} and id &lt;=#{id2}
        <if test="id3 != null">
            and id &lt;=#{id3}
        </if>
        order by id asc
    </select>


    <select id="jsonTypeTest1" resultType="com.mybatis.mp.core.test.vo.JsonTypeTestVo">
        ${sql}
    </select>

    <resultMap id="jsonTypeTestResultMap" type="com.mybatis.mp.core.test.vo.JsonTypeTestVo">
        <result property="aa" column="aa" typeHandler="cn.mybatis.mp.core.mybatis.typeHandler.JacksonTypeHandler"/>
        <result property="bb" column="bb" typeHandler="cn.mybatis.mp.core.mybatis.typeHandler.JacksonTypeHandler"/>
        <result property="dd" column="aa" typeHandler="cn.mybatis.mp.core.mybatis.typeHandler.JacksonTypeHandler"/>
        <result property="ee" column="bb" typeHandler="cn.mybatis.mp.core.mybatis.typeHandler.JacksonTypeHandler"/>
    </resultMap>

    <select id="jsonTypeTest2" resultMap="jsonTypeTestResultMap">
        ${sql}
    </select>
    
    <select id="selectCustomSql">
        select * from sys_role t
        <where>${WHERE.whereScript}</where>
    </select>

    <select id="selectCustomSql2">
        select * from sys_role t
        <where>${whereScript}</where>
    </select>
</mapper>
